[user]
	email = 77967472+VMo24@users.noreply.github.com
	name = Valentin-Cristian Mosor
	
[alias]
	#fast forward on merge
    pull = "pull --ff-only"
	st = status
	co = checkout
	br = branch
	last = log -1 HEAD
	aa = add --all
	pu = push
	cmt = commit -m

[color]  
    diff = auto  
    status = auto  
    branch = auto 